.title-source {
  font-weight: 900;
  font-size: 1.5rem;
  --title-source-color: rgba(29, 36, 46, 0.5);
  color: var(--title-source-color);
}
.title-main {
  color: var(--darkBlue);
  font-size: 1.5rem;
  font-weight: 900;
}
.section-name img {
  margin-left: 12px;
  margin-right: 9.29px;
}
.sub {
  font-size: 1rem;
  line-height: 21px;
  color: var(--black);
}
