.Pharmacy__topbar {
  position: relative;
  padding: 0 var(--padding-sides);
  background-color: var(--white);
  width: 100%;
  height: 10%;
  justify-content: space-between;
}
.Topbar__input {
  width: 45%;
  position: relative;
}
.Topbar__input > input {
  background-color: var(--lightGrey);
  border: none;
  width: 100%;
  height: 38px;
  font-size: 1.2rem;
  padding: 10px;
  border-radius: 4px;
  font-size: 14px;
}
.Topbar__input > input:focus {
  outline: none;
  border: 1px solid var(--skyBlue);
  border-radius: 4px;
}
.Topbar__input > input:focus ~ img {
  display: none;
}
.Topbar__input > img {
  position: absolute;
  right: 10px;
}
.Topbar__input > input::-webkit-input-placeholder {
  font-size: 1rem;
  color: rgba(29, 36, 46, 0.5);
  text-align: left;
}
.Topbar__change-lang {
  width: 15%;
  position: relative;
}
.Topbar__change-lang > img {
  position: absolute;
  left: 10px;
  width: 20px;
  height: 20px;
}
.ChangeLang {
  border: 1px solid transparent;
  font-size: 1rem;
  padding-left: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 4px;
  font-size: 12px;
}
.Topbar__date {
  width: 25%;
}
.hamburger {
  display: none;
}
.small-screen-menu {
  width: 60vw;
  height: 90vh;
  background-color: var(--darkBlue);
  color: var(--white);
  position: absolute;
  z-index: 100;
}
.search-suggestions {
  position: absolute;
  bottom: 0;
  transform: translateY(100%);
  z-index: 100;
  border: 1px solid var(--skyBlue);
  border-top: none;
  width: 100%;
  padding: 10px;
  background-color: var(--white);
  border-radius: 0 0 4px 4px;
  max-height: 200px;
  overflow-y: scroll;
}
.close-suggestions {
  position: absolute;
  right: 5px;
  top: 0;
}
@media screen and (max-width: 1150px) {
  .hamburger {
    display: unset;
    width: 30px;
    height: 30px;
  }
  .small-screen-menu {
    width: 30vw;
  }
}
@media screen and (max-width: 650px) {
  .small-screen-menu {
    width: 60vw;
  }
  .Pharmacy__topbar {
    height: 100px;
  }
  .Topbar__date {
    width: auto;
    margin-left: 10px;
  }
  .Topbar__change-lang {
    width: auto;
  }
  .Topbar__input {
    width: 25%;
  }
  .search-suggestions {
    width: 300%;
  }
}
