.Inventory__container {
  height: 90vh;
  background-color: var(--bgMain);
}
.Inventory__body {
  margin-top: 50px;
  flex-wrap: wrap;
}
.Inventory__body > * {
  margin-right: 50px;
}
@media screen and (max-width: 1150px) {
  .Inventory__body > div {
    margin: 20px;
  }
  .Inventory__body {
    justify-content: center;
  }
}
@media screen and (max-width: 650px) {
}
